In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/student-perfirmance/StudentPerformanceFactors.csv

# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Load Data

In [3]:
data=pd.read_csv("/kaggle/input/student-perfirmance/StudentPerformanceFactors.csv")
data

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

# Data Exploration

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [5]:
data.shape

(6607, 20)

In [6]:
data.columns.to_list()

['Hours_Studied',
 'Attendance',
 'Parental_Involvement',
 'Access_to_Resources',
 'Extracurricular_Activities',
 'Sleep_Hours',
 'Previous_Scores',
 'Motivation_Level',
 'Internet_Access',
 'Tutoring_Sessions',
 'Family_Income',
 'Teacher_Quality',
 'School_Type',
 'Peer_Influence',
 'Physical_Activity',
 'Learning_Disabilities',
 'Parental_Education_Level',
 'Distance_from_Home',
 'Gender',
 'Exam_Score']

In [7]:
data.sample(5)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1055,16,62,High,Medium,No,4,89,High,Yes,3,Low,Medium,Public,Neutral,3,No,College,Near,Female,65
1714,17,88,Low,Low,No,5,67,Medium,No,0,Medium,High,Public,Neutral,3,No,Postgraduate,Near,Male,65
1389,15,85,Medium,Medium,No,8,58,High,Yes,1,Low,Medium,Private,Negative,3,No,College,Near,Male,65
632,19,79,High,Medium,Yes,10,59,Low,Yes,1,Medium,Medium,Public,Neutral,3,Yes,College,Moderate,Male,65
2126,13,85,High,Low,Yes,6,72,Medium,Yes,2,Low,Medium,Public,Positive,1,No,College,Moderate,Female,66

In [8]:
data.describe().round()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.0,6607.0,6607.0,6607.0,6607.0,6607.0,6607.0
mean,20.0,80.0,7.0,75.0,1.0,3.0,67.0
std,6.0,12.0,1.0,14.0,1.0,1.0,4.0
min,1.0,60.0,4.0,50.0,0.0,0.0,55.0
25%,16.0,70.0,6.0,63.0,1.0,2.0,65.0
50%,20.0,80.0,7.0,75.0,1.0,3.0,67.0
75%,24.0,90.0,8.0,88.0,2.0,4.0,69.0
max,44.0,100.0,10.0,100.0,8.0,6.0,101.0

In [9]:
data.describe(include="O")

,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Motivation_Level,Internet_Access,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender
count,6607,6607,6607,6607,6607,6607,6529,6607,6607,6607,6517,6540,6607
unique,3,3,2,3,2,3,3,2,3,2,3,3,2
top,Medium,Medium,Yes,Medium,Yes,Low,Medium,Public,Positive,No,High School,Near,Male
freq,3362,3319,3938,3351,6108,2672,3925,4598,2638,5912,3223,3884,3814

In [10]:
data["Parental_Involvement"].value_counts().to_frame()

                      count
Parental_Involvement
Medium                 3362
High                   1908
Low                    1337

In [11]:
data["Access_to_Resources"].value_counts().to_frame()

                     count
Access_to_Resources
Medium                3319
High                  1975
Low                   1313

In [12]:
data["Extracurricular_Activities"].value_counts().to_frame()

                            count
Extracurricular_Activities
Yes                          3938
No                           2669

In [13]:
data["Motivation_Level"].value_counts().to_frame()

                  count
Motivation_Level
Medium             3351
Low                1937
High               1319

In [14]:
data["Internet_Access"].value_counts().to_frame()

                 count
Internet_Access
Yes               6108
No                 499

In [15]:
data["Family_Income"].value_counts().to_frame()

               count
Family_Income
Low             2672
Medium          2666
High            1269

In [16]:
data["Teacher_Quality"].value_counts().to_frame()

                 count
Teacher_Quality
Medium            3925
High              1947
Low                657

In [17]:
data["School_Type"].value_counts().to_frame()

             count
School_Type
Public        4598
Private       2009

In [18]:
data["Peer_Influence"].value_counts().to_frame()

                count
Peer_Influence
Positive         2638
Neutral          2592
Negative         1377

In [19]:
data["Learning_Disabilities"].value_counts().to_frame()

                       count
Learning_Disabilities
No                      5912
Yes                      695

In [20]:
data["Parental_Education_Level"].value_counts().to_frame()

                          count
Parental_Education_Level
High School                3223
College                    1989
Postgraduate               1305

In [21]:
data["Distance_from_Home"].value_counts().to_frame()

                    count
Distance_from_Home
Near                 3884
Moderate             1998
Far                   658

In [22]:
data["Gender"].value_counts().to_frame()

        count
Gender
Male     3814
Female   2793

# Aggregation Functions Of [Columns]

In [23]:
data["Hours_Studied"].agg(["count","min","mean","max"]).round().to_frame()

       Hours_Studied
count         6607.0
min              1.0
mean            20.0
max             44.0

In [24]:
data["Attendance"].agg(["count","min","mean","max"]).round().to_frame()

       Attendance
count      6607.0
min          60.0
mean         80.0
max         100.0

In [25]:
data["Sleep_Hours"].agg(["count","min","mean","max"]).round().to_frame()

       Sleep_Hours
count       6607.0
min            4.0
mean           7.0
max           10.0

In [26]:
data["Previous_Scores"].agg(["count","min","mean","max"]).round().to_frame()

       Previous_Scores
count           6607.0
min               50.0
mean              75.0
max              100.0

In [27]:
data["Tutoring_Sessions"].agg(["count","min","mean","max"]).round().to_frame()

       Tutoring_Sessions
count             6607.0
min                  0.0
mean                 1.0
max                  8.0

In [28]:
data["Physical_Activity"].agg(["count","min","mean","max"]).round().to_frame()

       Physical_Activity
count             6607.0
min                  0.0
mean                 3.0
max                  6.0

In [29]:
data["Exam_Score"].agg(["count","min","mean","max"]).round().to_frame()

       Exam_Score
count      6607.0
min          55.0
mean         67.0
max         101.0

# Handle Missing Value

In [30]:
data.isnull().sum().to_frame()

                             0
Hours_Studied                0
Attendance                   0
Parental_Involvement         0
Access_to_Resources          0
Extracurricular_Activities   0
Sleep_Hours                  0
Previous_Scores              0
Motivation_Level             0
Internet_Access              0
Tutoring_Sessions            0
Family_Income                0
Teacher_Quality             78
School_Type                  0
Peer_Influence               0
Physical_Activity            0
Learning_Disabilities        0
Parental_Education_Level    90
Distance_from_Home          67
Gender                       0
Exam_Score                   0

In [31]:
data["Teacher_Quality"]=data["Teacher_Quality"].fillna(data["Teacher_Quality"].mode()[0])

In [32]:
data["Parental_Education_Level"]=data["Parental_Education_Level"].fillna(data[
                    "Parental_Education_Level"].mode()[0])

In [33]:
data["Distance_from_Home"]=data["Distance_from_Home"].fillna(data["Distance_from_Home"].mode()[0])

In [34]:
data.isnull().sum().to_frame()

                            0
Hours_Studied               0
Attendance                  0
Parental_Involvement        0
Access_to_Resources         0
Extracurricular_Activities  0
Sleep_Hours                 0
Previous_Scores             0
Motivation_Level            0
Internet_Access             0
Tutoring_Sessions           0
Family_Income               0
Teacher_Quality             0
School_Type                 0
Peer_Influence              0
Physical_Activity           0
Learning_Disabilities       0
Parental_Education_Level    0
Distance_from_Home          0
Gender                      0
Exam_Score                  0

# Duplicate Entries

In [35]:
data.duplicated().sum()

np.int64(0)

# Groupby

In [36]:
data.groupby("Parental_Education_Level")["Family_Income"].value_counts().to_frame()

                                        count
Parental_Education_Level Family_Income
College                  Medium           814
                         Low              805
                         High             370
High School              Low             1344
                         Medium          1322
                         High             647
Postgraduate             Medium           530
                         Low              523
                         High             252

In [37]:
data.groupby("School_Type")["Teacher_Quality"].value_counts().to_frame()

                             count
School_Type Teacher_Quality
Private     Medium            1215
            High               600
            Low                194
Public      Medium            2788
            High              1347
            Low                463

In [38]:
data.groupby("School_Type")["Learning_Disabilities"].value_counts().to_frame()

                                   count
School_Type Learning_Disabilities
Private     No                      1798
            Yes                      211
Public      No                      4114
            Yes                      484

In [39]:
data.groupby("School_Type")["Exam_Score"].agg(["min","mean","max","count"]).round()

             min  mean  max  count
School_Type
Private       56  67.0  100   2009
Public        55  67.0  101   4598

In [40]:
data.groupby("Attendance")["Exam_Score"].agg(["count","min","mean","max"]).sample(5).round()

            count  min  mean  max
Attendance
79            175   58  67.0   73
76            185   60  67.0   94
95            163   66  70.0   77
94            180   64  70.0   76
62            152   55  64.0   88

In [41]:
data.groupby("Parental_Involvement")["Exam_Score"].agg(["min","mean","max","count"]).round()

                      min  mean  max  count
Parental_Involvement
High                   57  68.0  100   1908
Low                    56  66.0  101   1337
Medium                 55  67.0   97   3362

In [42]:
data.groupby("Sleep_Hours")["Exam_Score"].agg(["count","min","mean","max"]).round()

             count  min  mean  max
Sleep_Hours
4              309   59  68.0  100
5              695   58  67.0   94
6             1376   55  67.0  101
7             1741   56  67.0   97
8             1399   57  67.0   99
9              775   58  67.0   98
10             312   57  67.0   86

In [43]:
data.groupby("Extracurricular_Activities")["Exam_Score"].agg(["min","mean","max","count"]).round()

                            min  mean  max  count
Extracurricular_Activities
No                           55  67.0   97   2669
Yes                          57  67.0  101   3938

In [44]:
data.groupby("Motivation_Level")["Exam_Score"].agg(["min","mean","max","count"]).round()

                  min  mean  max  count
Motivation_Level
High               57  68.0   98   1319
Low                57  67.0  101   1937
Medium             55  67.0  100   3351

In [45]:
data.groupby("Learning_Disabilities")["Exam_Score"].agg(["min","mean","max","count"]).round()

                       min  mean  max  count
Learning_Disabilities
No                      55  67.0  101   5912
Yes                     57  66.0   89    695

In [46]:
data.groupby("Peer_Influence")["Exam_Score"].agg(["min","mean","max","count"]).round()

                min  mean  max  count
Peer_Influence
Negative         55  67.0   99   1377
Neutral          57  67.0   97   2592
Positive         57  68.0  101   2638

In [47]:
data.groupby("Gender")["Exam_Score"].agg(["min","mean","max","count"]).round()

        min  mean  max  count
Gender
Female   57  67.0  101   2793
Male     55  67.0   99   3814

In [48]:
data.groupby("Family_Income")["Tutoring_Sessions"].agg(["min","mean","max","count"]).round()

               min  mean  max  count
Family_Income
High             0   2.0    7   1269
Low              0   1.0    7   2672
Medium           0   1.0    8   2666

In [49]:
data.groupby("Distance_from_Home")["Attendance"].agg(["min","mean","max","count"]).round()

                    min  mean  max  count
Distance_from_Home
Far                  60  79.0  100    658
Moderate             60  80.0  100   1998
Near                 60  80.0  100   3951

# Mapping to Simplify

In [50]:
data["Distance_from_Home"]=data["Distance_from_Home"].map({"Far":0,"Moderate":1,"Near":2})

In [51]:
data["Parental_Involvement"]=data["Parental_Involvement"].map({"Low":0,"Medium":1,"High":2})

In [52]:
data["Access_to_Resources"]=data["Access_to_Resources"].map({"Low":0,"Medium":1,"High":2})

In [53]:
data["Extracurricular_Activities"]=data["Extracurricular_Activities"].map({"No":0,"Yes":1})

In [54]:
data["Motivation_Level"]=data["Motivation_Level"].map({"Low":0,"Medium":1,"High":2})

In [55]:
data["Internet_Access"]=data["Internet_Access"].map({"No":0,"Yes":1})

In [56]:
data["Family_Income"]=data["Family_Income"].map({"Low":0,"Medium":1,"High":2})

In [57]:
data["Teacher_Quality"]=data["Teacher_Quality"].map({"Low":0,"Medium":1,"High":2})

In [58]:
data["School_Type"]=data["School_Type"].map({"Private":0,"Public":1})

In [59]:
data["Peer_Influence"]=data["Peer_Influence"].map({"Neutral":0,"Negative":-1,"Positive":1})

In [60]:
data["Learning_Disabilities"]=data["Learning_Disabilities"].map({"No":0,"Yes":1})

In [61]:
data["Parental_Education_Level"]=data["Parental_Education_Level"].map({"High School":0,"Postgraduate":1,"College":2})

In [62]:
data["Gender"]=data["Gender"].map({"Female":0,"Male":1})

In [63]:
data

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,0,2,0,7,73,0,1,0,0,1,1,1,3,0,0,2,1,67
1,19,64,0,1,0,8,59,0,1,2,1,1,1,-1,4,0,2,1,0,61
2,24,98,1,1,1,7,91,1,1,2,1,1,1,0,4,0,1,2,1,74
3,29,89,0,1,1,8,98,1,1,1,1,1,1,-1,4,0,0,1,1,71
4,19,92,1,1,1,6,65,1,1,3,1,2,1,0,4,0,2,2,0,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,2,1,0,7,76,1,1,1,2,1,1,1,2,0,0,2,0,68
6603,23,76,2,1,0,8,81,1,1,3,0,2,1,1,2,0,0,2,0,69
6604,20,90,1,0,1,6,65,0,1,3,0,1,1,-1,2,0,1,2,0,68
6605,10,86,2,2,1,6,91,2,1,2,0,1,0,1,3,0,0,0,0,68
6606,15,67,1,0,1,9,94,1,1,0,1,1,1,1,4,0,1,2,1,64

# Saving As Excel Faile

In [64]:
with pd.ExcelWriter("Student-Perfirmance.xlsx") as writer:
    data.to_excel(writer, sheet_name="Main table", index=False)